#d1
{
	height:700px;
	width:600px;
}
#d2
{
	height:700px;
	width:600px;
}
img
{
	height:70%;
	width:100%;
/*	padding-bottom:40%;*/
}
#d3
{
	padding-left:10%;
}
#d
{
	padding-left:30%;
	color:white;
}

